<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ui_panel_common_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{704,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{704,640}}</string>
			<key>sourceSize</key>
			<string>{704,640}</string>
		</dict>
		<key>ui_button_restart_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,0},{512,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,224}}</string>
			<key>sourceSize</key>
			<string>{512,224}</string>
		</dict>
		<key>ui_button_reward_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1224,0},{512,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,224}}</string>
			<key>sourceSize</key>
			<string>{512,224}</string>
		</dict>
		<key>ui_button_start_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,644},{512,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,224}}</string>
			<key>sourceSize</key>
			<string>{512,224}</string>
		</dict>
		<key>ui_icon_ad_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,644},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ui_icon_army_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,644},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ui_icon_close_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,644},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ui_icon_coin_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1104,644},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ui_icon_pause_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1300,644},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ui_icon_star_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1496,644},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ui_bar_boss_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,872},{768,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,176}}</string>
			<key>sourceSize</key>
			<string>{768,176}</string>
		</dict>
		<key>ui_bar_progress_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,872},{768,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,160}}</string>
			<key>sourceSize</key>
			<string>{768,160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>p0_ui_atlas.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:Codex$</string>
		<key>textureFileName</key>
		<string>p0_ui_atlas.png</string>
	</dict>
</dict>
</plist>
