<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gate_bonus_blue_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{384,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,512}}</string>
			<key>sourceSize</key>
			<string>{384,512}</string>
		</dict>
		<key>gate_multiplier_purple_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,0},{384,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,512}}</string>
			<key>sourceSize</key>
			<string>{384,512}</string>
		</dict>
		<key>gate_reward_gold_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,0},{384,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,512}}</string>
			<key>sourceSize</key>
			<string>{384,512}</string>
		</dict>
		<key>gate_trap_red_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1164,0},{384,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,512}}</string>
			<key>sourceSize</key>
			<string>{384,512}</string>
		</dict>
		<key>scene_prop_garlicbasket_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1552,0},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
		<key>scene_prop_garlicstring_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,516},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
		<key>scene_prop_marketlamp_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,516},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
		<key>scene_prop_pennant_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,516},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
		<key>scene_prop_picklejar_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,516},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
		<key>scene_prop_vegetablecrate_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1296,516},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
		<key>fx_gateflash_play_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1620,516},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_gateflash_play_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,840},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_gateflash_play_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,840},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_gateflash_play_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,840},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_gateflash_play_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,840},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_gateflash_play_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{1040,840},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_gateflash_play_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{1300,840},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_gateflash_play_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{1560,840},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_impact_garlic_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1100},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_impact_garlic_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,1100},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_impact_garlic_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,1100},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_impact_garlic_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,1100},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_impact_mold_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1040,1100},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_impact_mold_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1300,1100},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_impact_mold_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1560,1100},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>fx_impact_mold_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1360},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>p0_world_atlas.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:Codex$</string>
		<key>textureFileName</key>
		<string>p0_world_atlas.png</string>
	</dict>
</dict>
</plist>
