<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>boss_rotgarlic_die_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{512,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,512}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>boss_rotgarlic_hit_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,0},{512,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,512}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>boss_rotgarlic_idle_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1032,0},{512,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,512}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>boss_rotgarlic_phase2_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,516},{512,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,512}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>boss_rotgarlic_roar_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,516},{512,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,512}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>hero_garlicbird_cheer_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1032,516},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_garlicbird_expr_cute_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1292,516},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_garlicbird_expr_panic_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1552,516},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_garlicbird_expr_smug_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1032},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_garlicbird_expr_speechless_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,1032},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_garlicbird_panic_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,1032},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_garlicbird_run_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,1032},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_garlicbird_view_back_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1040,1032},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_garlicbird_view_front_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1300,1032},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_garlicbird_view_side_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1560,1032},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_garlicbird_view_threequarter_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1292},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>enemy_moldling_die_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,1292},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>enemy_moldling_die_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,1292},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>enemy_moldling_die_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,1292},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>enemy_moldling_die_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,1292},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>enemy_moldling_flow_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1044,1292},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>enemy_moldling_flow_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1240,1292},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>enemy_moldling_flow_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1436,1292},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>enemy_moldling_flow_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1632,1292},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>p0_characters_atlas.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:Codex$</string>
		<key>textureFileName</key>
		<string>p0_characters_atlas.png</string>
	</dict>
</dict>
</plist>
