<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fx_barrel_break_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{384,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,384}}</string>
			<key>sourceSize</key>
			<string>{384,384}</string>
		</dict>
		<key>fx_barrel_break_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,0},{384,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,384}}</string>
			<key>sourceSize</key>
			<string>{384,384}</string>
		</dict>
		<key>fx_barrel_break_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,0},{384,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,384}}</string>
			<key>sourceSize</key>
			<string>{384,384}</string>
		</dict>
		<key>fx_barrel_break_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1164,0},{384,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,384}}</string>
			<key>sourceSize</key>
			<string>{384,384}</string>
		</dict>
		<key>fx_barrier_break_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1552,0},{384,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,384}}</string>
			<key>sourceSize</key>
			<string>{384,384}</string>
		</dict>
		<key>fx_barrier_break_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,388},{384,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,384}}</string>
			<key>sourceSize</key>
			<string>{384,384}</string>
		</dict>
		<key>fx_barrier_break_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,388},{384,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,384}}</string>
			<key>sourceSize</key>
			<string>{384,384}</string>
		</dict>
		<key>fx_barrier_break_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,388},{384,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,384}}</string>
			<key>sourceSize</key>
			<string>{384,384}</string>
		</dict>
		<key>fx_barrier_break_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1164,388},{384,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,384}}</string>
			<key>sourceSize</key>
			<string>{384,384}</string>
		</dict>
		<key>fx_barrier_break_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{1552,388},{384,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,384}}</string>
			<key>sourceSize</key>
			<string>{384,384}</string>
		</dict>
		<key>fx_shockwave_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,776},{512,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,320}}</string>
			<key>sourceSize</key>
			<string>{512,320}</string>
		</dict>
		<key>fx_shockwave_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,776},{512,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,320}}</string>
			<key>sourceSize</key>
			<string>{512,320}</string>
		</dict>
		<key>fx_shockwave_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1032,776},{512,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,320}}</string>
			<key>sourceSize</key>
			<string>{512,320}</string>
		</dict>
		<key>fx_shockwave_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1100},{512,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,320}}</string>
			<key>sourceSize</key>
			<string>{512,320}</string>
		</dict>
		<key>fx_shockwave_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,1100},{512,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,320}}</string>
			<key>sourceSize</key>
			<string>{512,320}</string>
		</dict>
		<key>fx_shockwave_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{1032,1100},{512,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,320}}</string>
			<key>sourceSize</key>
			<string>{512,320}</string>
		</dict>
		<key>fx_hit_spark_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1548,1100},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>fx_hit_spark_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1616,1100},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>fx_hit_spark_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1684,1100},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>fx_hit_spark_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1752,1100},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>fx_muzzle_spit_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1820,1100},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>fx_muzzle_spit_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1888,1100},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>fx_muzzle_spit_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1956,1100},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>fx_muzzle_spit_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1424},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>fx_bullet_garlic_large_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,1424},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>fx_bullet_garlic_medium_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,1424},{28,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,42}}</string>
			<key>sourceSize</key>
			<string>{28,42}</string>
		</dict>
		<key>fx_bullet_garlic_small_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,1424},{24,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,36}}</string>
			<key>sourceSize</key>
			<string>{24,36}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>p1_shooter_fx_atlas.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:Codex$</string>
		<key>textureFileName</key>
		<string>p1_shooter_fx_atlas.png</string>
	</dict>
</dict>
</plist>
