<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>barrel_body_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{256,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,320}}</string>
			<key>sourceSize</key>
			<string>{256,320}</string>
		</dict>
		<key>barrel_crack_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,0},{256,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,320}}</string>
			<key>sourceSize</key>
			<string>{256,320}</string>
		</dict>
		<key>barrel_crack_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,0},{256,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,320}}</string>
			<key>sourceSize</key>
			<string>{256,320}</string>
		</dict>
		<key>gate_barrier_pillar_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,0},{192,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,320}}</string>
			<key>sourceSize</key>
			<string>{192,320}</string>
		</dict>
		<key>gate_barrier_body_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,0},{768,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,256}}</string>
			<key>sourceSize</key>
			<string>{768,256}</string>
		</dict>
		<key>gate_barrier_crack_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,324},{768,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,256}}</string>
			<key>sourceSize</key>
			<string>{768,256}</string>
		</dict>
		<key>gate_barrier_crack_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,324},{768,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,256}}</string>
			<key>sourceSize</key>
			<string>{768,256}</string>
		</dict>
		<key>gate_barrier_crack_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,584},{768,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,256}}</string>
			<key>sourceSize</key>
			<string>{768,256}</string>
		</dict>
		<key>gate_dim_damage_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,584},{384,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,256}}</string>
			<key>sourceSize</key>
			<string>{384,256}</string>
		</dict>
		<key>gate_dim_lane_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1160,584},{384,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,256}}</string>
			<key>sourceSize</key>
			<string>{384,256}</string>
		</dict>
		<key>gate_dim_rate_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1548,584},{384,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,256}}</string>
			<key>sourceSize</key>
			<string>{384,256}</string>
		</dict>
		<key>gate_dim_trap_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,844},{384,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,256}}</string>
			<key>sourceSize</key>
			<string>{384,256}</string>
		</dict>
		<key>gate_dim_troop_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,844},{384,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,256}}</string>
			<key>sourceSize</key>
			<string>{384,256}</string>
		</dict>
		<key>obstacle_roller_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,844},{384,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,256}}</string>
			<key>sourceSize</key>
			<string>{384,256}</string>
		</dict>
		<key>obstacle_roller_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1164,844},{384,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,256}}</string>
			<key>sourceSize</key>
			<string>{384,256}</string>
		</dict>
		<key>obstacle_spike_base_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1552,844},{384,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,256}}</string>
			<key>sourceSize</key>
			<string>{384,256}</string>
		</dict>
		<key>gate_barrier_stripe_tile_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1104},{512,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,64}}</string>
			<key>sourceSize</key>
			<string>{512,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>p1_shooter_world_atlas.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:Codex$</string>
		<key>textureFileName</key>
		<string>p1_shooter_world_atlas.png</string>
	</dict>
</dict>
</plist>
